In [1]:
import warnings
# Suppress the FutureWarning
warnings.filterwarnings("ignore", category=FutureWarning)

# Lab 10 : Model Selection

## Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('mini_project.csv')

In [4]:
data.head()

,Gender,Height,Weight,Index,BMI_Label,BMI,Mass,Acceleration,Force
0,Male,174,96,4,Obesity,31.708284,9.795918,0.148974,1.459339
1,Male,189,87,2,Normal,24.355421,8.877551,0.150125,1.332747
2,Female,185,110,4,Obesity,32.140248,11.224490,0.141965,1.593481
3,Female,195,104,3,Overweight,27.350427,10.612245,0.152628,1.619725
4,Male,149,61,3,Overweight,27.476240,6.224490,0.143498,0.893200

## EDA Steps

In [5]:
data.shape

(500, 9)

In [6]:
data.columns

Index(['Gender', 'Height', 'Weight', 'Index', 'BMI_Label', 'BMI', 'Mass',
       'Acceleration', 'Force'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Gender        500 non-null    object
 1   Height        500 non-null    int64
 2   Weight        500 non-null    int64
 3   Index         500 non-null    int64
 4   BMI_Label     500 non-null    object
 5   BMI           500 non-null    float64
 6   Mass          500 non-null    float64
 7   Acceleration  500 non-null    float64
 8   Force         500 non-null    float64
dtypes: float64(4), int64(3), object(2)
memory usage: 35.3+ KB

##### Two Columns are having Space in name.
##### Hence Rename those two columns.

In [8]:
# # Rename the column
# data.rename(columns={'sit and bend forward_cm': 'sit_and_bend_forward_cm'}, inplace=True)
# data.rename(columns={'body fat_%': 'body_fat_percentage'}, inplace=True)
# data.rename(columns={'sit-ups counts': 'sit-ups_counts'}, inplace=True)
# data.rename(columns={'broad jump_cm': 'broad_jump_cm'}, inplace=True)

# # Verify the updated column names
# print(data.columns)

In [9]:
data.describe()

,Height,Weight,Index,BMI,Mass,Acceleration,Force
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,169.944000,106.000000,3.748000,37.765284,10.816327,0.150401,1.626765
std,16.375261,32.382607,1.355053,13.965620,3.304348,0.005804,0.500477
min,140.000000,50.000000,0.000000,12.753801,5.102041,0.140061,0.730479
25%,156.000000,80.000000,3.000000,27.169353,8.163265,0.145606,1.211430
50%,170.500000,106.000000,4.000000,36.956941,10.816327,0.150397,1.631563
75%,184.000000,136.000000,5.000000,46.390467,13.877551,0.155437,2.077698
max,199.000000,160.000000,5.000000,78.853402,16.326531,0.159972,2.588367

In [10]:
data.describe(include = 'object')

        Gender        BMI_Label
count      500              500
unique       2                6
top     Female  Extreme Obesity
freq       255              198

## Data Visualization and Pre-Processing Steps

In [11]:
data['BMI'].value_counts()

37.345590    3
16.995148    2
44.626557    2
28.010412    2
26.397977    2
            ..
43.556870    1
35.188533    1
23.808797    1
37.520281    1
43.770256    1
Name: BMI, Length: 476, dtype: int64

In [12]:
data['Force'].value_counts()

1.459339    1
1.498955    1
1.315666    1
1.866371    1
1.082440    1
           ..
1.232109    1
1.494769    1
1.660284    1
1.641845    1
2.114175    1
Name: Force, Length: 500, dtype: int64

## Pre-processing: Feature selection/extraction

In [13]:
data['Gender'].replace(to_replace=['Male','Female'], value=[0,1], inplace=True)
data.head()

,Gender,Height,Weight,Index,BMI_Label,BMI,Mass,Acceleration,Force
0,0,174,96,4,Obesity,31.708284,9.795918,0.148974,1.459339
1,0,189,87,2,Normal,24.355421,8.877551,0.150125,1.332747
2,1,185,110,4,Obesity,32.140248,11.224490,0.141965,1.593481
3,1,195,104,3,Overweight,27.350427,10.612245,0.152628,1.619725
4,0,149,61,3,Overweight,27.476240,6.224490,0.143498,0.893200

## Selecting Features

In [14]:
Feature = data[['BMI', 'Mass','Acceleration']]

In [15]:
Feature.head()

         BMI       Mass  Acceleration
0  31.708284   9.795918      0.148974
1  24.355421   8.877551      0.150125
2  32.140248  11.224490      0.141965
3  27.350427  10.612245      0.152628
4  27.476240   6.224490      0.143498

In [16]:
Feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   BMI           500 non-null    float64
 1   Mass          500 non-null    float64
 2   Acceleration  500 non-null    float64
dtypes: float64(3)
memory usage: 11.8 KB

## Lets Define Feature sets, X:

In [17]:
X = Feature
X[0:5]

         BMI       Mass  Acceleration
0  31.708284   9.795918      0.148974
1  24.355421   8.877551      0.150125
2  32.140248  11.224490      0.141965
3  27.350427  10.612245      0.152628
4  27.476240   6.224490      0.143498

## What are our lables? Create Output Variable

In [18]:
y = data['Force']
y[0:5]

0    1.459339
1    1.332747
2    1.593481
3    1.619725
4    0.893200
Name: Force, dtype: float64

In [19]:
from sklearn import preprocessing

X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.43414228, -0.30911702, -0.2460403 ],
       [-0.96116697, -0.58732233, -0.0474622 ],
       [-0.40318074,  0.12364681, -1.45503776],
       [-0.74649654, -0.0618234 ,  0.38416392],
       [-0.73747879, -1.39102658, -1.19063227]])

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, 
                                                    y, 
                                                    test_size = 0.2,
                                                    random_state = 3)
print ('Train set:', X_train.shape, y_train.shape)
print ('Test set:', X_test.shape, y_test.shape)

Train set: (400, 3) (400,)
Test set: (100, 3) (100,)

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import joblib

# Create a list of regression algorithms to compare
regressors = [
    LinearRegression(),
    DecisionTreeRegressor(),
    RandomForestRegressor(),
    SVR(),
    KNeighborsRegressor()
]

# Perform regression with each algorithm and calculate MSE
mse_scores = []
r2_scores = []
for regressor in regressors:
    regressor.fit(X_train, y_train)
    y_pred = regressor.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    # Calculate the R-squared score
    r2 = r2_score(y_test, y_pred)
    mse_scores.append(mse)
    r2_scores.append(r2)

# Find the best algorithm based on MSE
best_algorithm_index = mse_scores.index(min(mse_scores))
best_algorithm = regressors[best_algorithm_index]

# Print the MSE scores and the best algorithm
for i, mse in enumerate(mse_scores):
    print(f"Algorithm {i+1} - MSE: {mse}")
print(f"The best algorithm is Algorithm {best_algorithm_index+1}: {type(best_algorithm).__name__}")


# r2_scores

print("\n\n\n\nr2_Scores are")
for i, r in enumerate(r2_scores):
    print(f"Algorithm {i+1} - MSE: {r}")


# Fit the best algorithm on the entire dataset
best_algorithm.fit(X, y)

Algorithm 1 - MSE: 0.0003742090885504621
Algorithm 2 - MSE: 0.0014176826622098531
Algorithm 3 - MSE: 0.000550694764988957
Algorithm 4 - MSE: 0.005165058895230073
Algorithm 5 - MSE: 0.004003063300765742
The best algorithm is Algorithm 1: LinearRegression




r2_Scores are
Algorithm 1 - MSE: 0.9985710911538317
Algorithm 2 - MSE: 0.9945866111778899
Algorithm 3 - MSE: 0.9978971846347201
Algorithm 4 - MSE: 0.9802773407375988
Algorithm 5 - MSE: 0.9847143943392906

LinearRegression()

In [22]:
# Create and fit the Linear regressor
regressor1 = LinearRegression()
regressor1.fit(X_train, y_train)

# Make predictions on the test set
y_pred1 = regressor1.predict(X_test)

# Calculate the R-squared score
r1 = r2_score(y_test, y_pred1)
print(f"R-squared: {r1}")


filename = 'C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\linear.sav'
joblib.dump(regressor1,filename)

R-squared: 0.9985710911538317

['C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\linear.sav']

In [23]:
# Create and fit the Random Forest regressor
regressor2 = RandomForestRegressor()
regressor2.fit(X_train, y_train)

# Make predictions on the test set
y_pred2 = regressor2.predict(X_test)

# Calculate the R-squared score
r2 = r2_score(y_test, y_pred2)
print(f"R-squared: {r2}")


filename = 'C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\random.sav'
joblib.dump(regressor2,filename)

R-squared: 0.9979319845372004

['C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\random.sav']

In [24]:
# Create and fit the Decision Tree regressor
regressor3 = DecisionTreeRegressor()
regressor3.fit(X_train, y_train)

# Make predictions on the test set
y_pred3 = regressor3.predict(X_test)

# Calculate the R-squared score
r3 = r2_score(y_test, y_pred3)
print(f"R-squared: {r3}")


filename = 'C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\decision.sav'
joblib.dump(regressor3,filename)

R-squared: 0.9945986111171787

['C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\decision.sav']

In [25]:
# Create and fit the Support Vector regressor
regressor4 = SVR()
regressor4.fit(X_train, y_train)

# Make predictions on the test set
y_pred4 = regressor4.predict(X_test)

# Calculate the R-squared score
r2 = r2_score(y_test, y_pred4)
print(f"R-squared: {r2}")


filename = 'C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\svr.sav'
joblib.dump(regressor4,filename)

R-squared: 0.9802773407375988

['C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\svr.sav']

In [26]:
# Create and fit the KNeighbors regressor
regressor5 = KNeighborsRegressor()
regressor5.fit(X_train, y_train)

# Make predictions on the test set
y_pred5 = regressor5.predict(X_test)

# Calculate the R-squared score
r2 = r2_score(y_test, y_pred5)
print(f"R-squared: {r2}")


filename = 'C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\kneighbors.sav'
joblib.dump(regressor5,filename)

R-squared: 0.9847143943392906

['C:\\Users\\hplap\\IOT_Project\\Cycling\\Cyclist\\kneighbors.sav']